/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */
@import './google-fonts.css';

* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all .5s ease;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.warning {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #c3c3c3;
  font-size: 1rem;
  padding: 20px 0;
}

header {
  width: 100%;
}

header nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #343434;
  text-align: center;
  display: flex;
  align-items: center;
  transition: all .5s ease;
}

header nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 14px 0;
  z-index: 1;
  width: 100%;
  font-size: 1.4rem;
  border: 2px solid transparent;
  border-top-width: 0;
  border-bottom-width: 4px;
  transition: all .5s ease;
}

header nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg,
      #f57c00 0 20vw,
      #1376d2 0 40vw,
      #FBDF00 0 60vw,
      #42B883 0 80vw,
      #087EA4 0 100vw);
  animation: scroll-progress linear;
  animation-timeline: scroll(root);
}

@keyframes scroll-progress {
  100% {
    width: 100%;
  }
}

header nav a:nth-child(2):hover {
  background-color: #1376d2;
}

header nav a:nth-child(3):hover {
  background-color: #FBDF00;
}

header nav a:nth-child(4):hover {
  background-color: #42B883;
}

header nav a:nth-child(5):hover {
  background-color: #087EA4;
}

div.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: #fff;
  border-bottom: 3px solid transparent;
  font-size: 4rem;
  scroll-snap-align: start;
}

div.section p {
  font-size: 1.25rem;
}

div#html {
  background-color: #f57c00;
}

div#css {
  background-color: #1376d2;
}

div#js {
  background-color: #FBDF00;
}

div#vue {
  background-color: #42B883;
}

div#react {
  background-color: #087EA4;
}

@media screen and (max-width: 580px) {
  header nav a {
    font-size: 1.2rem;
  }
}